# Dependencias
node_modules/

# Carpetas generadas automáticamente
dist/
build/

# Archivos temporales y logs
*.log
.DS_Store

# Archivos del sistema
Thumbs.db

# Configuración de editores
.vscode/
.idea/

# Sourcemaps (opcional)
*.map