@use '../base/variables' as v;

// _stack.scss

.stack {
  margin-top: 3rem;

  &__title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    color: v.$primary;
  }

  &__list {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    li {
      position: relative;
      padding-left: 2rem;
      font-size: 1.6rem;

      &::before {
        content: "✅";
        position: absolute;
        left: 0;
        top: 0;
        font-size: 1.4rem;
      }
    }
  }
}

