$fuente-principal: "Inter", sans-serif;
$fuente-secundaria: "Montserrat", sans-serif;

//PALETA DE COLORES PRINCIPAL

$background:       #121212;   // Fondo base general
$surface:          #1F1F1F;   // Contenedores, navbar, secciones
$text:             #E0E0E0;   // Texto base (parrafos, links)
$primary:          #0FF1CE;   // Elementos clave (botones, links, etc)
$accent:           #9F5FEC;   // Detalles decorativos o destacados

//PALETA COLORES DE UTILIDADES

$boton1:     #2b546e;
$boton2:     #828489;
$boton3:     #d8d6d613;
$boton4:     #fdfdfd1e;

//Variables complementarias

$light:            #e0e0e0;   // Para fondos oscuros
$dark:             #0e0e0e;   // Para fondos claros o contraste interno

// Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;
