@use 'base/variables' as v;

.header {
    background-color: v.$surface;
    width: 100%;
    margin-bottom: 10rem;

    h2 {
    margin: 0; 

    }
}

.nav {
    display: flex;
    align-items: center;
    padding: 2rem 4rem;   
}

.nav__links {
    display: flex;
    margin-left: auto;
    gap: 5rem;  
}

a {
    text-transform: uppercase;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    font-size: 1.8rem;
     &:hover,
     &.active {
       color: v.$accent;
    }
}